#user{
    float: right;
}
#input-box input,label{
    width: 100%;
    display: block;
    padding: 10px 10px;
}
#input-box input[type="button"]{
    margin-top: 10px;
    background-color: #ccc;
    font-family: "Times New Roman",Times,sans-serif;
}
#todo div{
    width: 100%;
    padding: 10px 10px;
    background-color: #34495E;
    color: #f2f2f2;
    border-radius: 5px;
}
#todo div:not(#todoHead){
    margin-top: 10px;
    background-color: #ccc;
    color: black;
}
#todo input[type="button"]{
    float:right;
}
#inprogress div{
    width: 100%;
    padding: 10px 10px;
    background-color: #34495E;
    color: #f2f2f2;
    border-radius: 5px;
}
#inprogress div:not(#inprogressHead){
    margin-top: 10px;
    background-color: #ccc;
    color: black;
}
#done div{
    width: 100%;
    padding: 10px 10px;
    background-color: #34495E;
    color: #f2f2f2;
    border-radius: 5px;
}
#done div:not(#doneHead){
    margin-top: 10px;
    background-color: #ccc;
    color: black;
}
@media only screen and (min-width: 768px){
    #inprogress,#done{
        border-left: 1px solid #969696;
    }
}
