*{
    box-sizing: border-box;
}
html{
    font-family: "Times New Roman",Times,serif;
}
nav{
    display: block;
    overflow: hidden;
    background-color: #34495E;
}
nav a{
    float: left;
    display: block;
    padding: 10px 10px;
    color: #f2f2f2;
    text-decoration: none;
}
.col-3{
    width: 33.33%;
    height: auto;
    min-height: 600px;
    float: left;
    padding: 5px 5px;
}
.col-4{
    width: 25%;
    height: auto;
    min-height: 600px;
    float: left;
    padding: 5px 5px;
}
button{
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
    z-index: 1;
    display: block;
    text-align: center;
    background-color: #34495E;
    color: #f2f2f2;
    border: none;
    padding: 10px 10px;
}
button:hover{
    color: black;
    background-color: #ccc;
}
.row{
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
#modalInnerDiv{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: auto;
}
#close{
    color: #969696;
    float: right;
    font-weight: bold;
}
#modalInnerDiv input,label{
    width: 100%;
    display: block;
    padding: 10px 10px;
}
#modalInnerDiv input[type="button"]{
    margin-top: 10px;
    background-color: #ccc;
}
@media only screen and (max-width: 768px){
    [class*="col-"]{
        width: 100%;
        height: auto;
        min-height: 0px;
    }
}
